body {
    margin-top: 370px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

::-webkit-input-placeholder {
  font-weight: bolder;
  color: black;
}

label {
  font-weight: bolder;
}

input::placeholder {
  font-weight: boldest;
}


h1,
h2,
form {
  text-align: center;
  color: white;
  
}

h1 {
    font-size: 40px;
}

button {
  display: block;
  margin: 20px auto;
  background-color: white;
  color: black;
}

h2 {
  font-size: 40px;
  color: white;
  font-weight: bold;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#horror {
  color: black;
}

.red {
    color: red;
}

#check {
    color: red;
}

@media screen and (max-width: 685px) {

  /* body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
} */

    h1 {
      font-size: 1.4rem;
    }

    form {
      font-size: 1.4rem;
    }

    /* label {
      font-weight: bolder;
    }

    form label {
      font-weight: bolder;
    }

    ::-webkit-input-placeholder {
      font-weight: bolder;
      color: black;
    }

    input::placeholder {
      font-weight: boldest;
    } */

    h2 {
        font-size: 1.3rem;
    }

} 


