body {
    margin-top: 370px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

h1,
h2,
form {
  text-align: center;
  color: white;
}

h1 {
    font-size: 40px;
}

button {
  display: block;
  margin: 20px auto;
  background-color: white;
  color: black;
}

h2 {
  font-size: 40px;
  color: white;
  font-weight: bold;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#horror {
  color: black;
}

.red {
    color: red;
}

#check {
    color: red;
}

@media screen and (max-width: 490px) {

    h1 {
      font-size: 1.3rem;
    }

    h2 {
        font-size: 1.2rem;
    }

} 


